
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv/

*.json
*.xml
*.yaml
*.yml
!configs/*.yaml

*.html
*.css
*.js
*.ts
*.tsx

.env


*.pyc
*.pyo
*.pyd
*.pyw
*.pyz


*.md

*.pt

*.csv
*.log
results/runs/*
*.pt:Zone.Identifier
*:Zone.Identifier
.zeppelin_cache/
*.html
*.txt
