__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv/

*.csv
!data/raw/*.csv
!data/processed/*.csv

*.json
*.xml
*.yaml
*.yml
!configs/*.yaml

*.html
*.css
*.js
*.ts
*.tsx

.env

Docs/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
